@{
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <h1>Secret Data</h1>
</div>

<div>
    @(Html.Kendo()
            .Grid<TestDataModel>()
            .Name("GridTestData")
            .Columns(columns =>
            {
                columns.Bound(c => c.Name);
                columns.Bound(c => c.Description);
            })
            .Pageable(pager => pager.Refresh(true).Messages(message => message.Refresh("Refresh")))
            .Filterable()
            .Sortable()
            .DataSource(dataSource => dataSource
            .Ajax()

            .PageSize(10)
            .Model(model => model.Id(m => m.Id))

            .Read(read =>
            read.Action("GetSecretData", "Home"))
            .Events(events => events.Error("OnError"))           
            )
    )
</div>

<script>
    function OnError(e) {
        debugger;
        console.log(e);
    }
</script>