form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #f1f1f1;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginLabel {
    display: block;
    text-align: center;
    width: 100%
}

.loginInput {
    text-align:center;
}

img.avatar {
    display:block;
    width: 20%;
    border-radius: 50%;   
    margin-left: auto;
    margin-right: auto;
}
    /* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

.validationcentered {
    display: block;
    width: 100%;
    text-align: center;
    color: red;
}