<head>
    <script src="~/vendor.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/vendor.min.css">
    <link href="~\Content\App.css" rel="stylesheet" />
</head>
<body>
    @RenderBody();
</body>
